In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
dataset=pd.read_csv("Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619.0,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,NaN,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,NaN,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699.0,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850.0,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771.0,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516.0,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709.0,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772.0,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792.0,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore         True
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [5]:
dataset.fillna(dataset["CreditScore"].mean(),inplace=True)

In [6]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [7]:
le=LabelEncoder()
dataset['Geography']=le.fit_transform(dataset['Geography'])
dataset['Gender']=le.fit_transform(dataset['Gender'])

In [8]:
x=dataset.iloc[:,3:13].values
y=dataset.iloc[:,13].values

In [9]:
x

array([[6.1900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [6.5054791e+02, 2.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [6.5054791e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [7.0900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [7.7200000e+02, 1.0000000e+00, 1.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [7.9200000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [10]:
one = OneHotEncoder()
z=one.fit_transform(x[:,1:2]).toarray()
x=np.delete(x,1,axis=1)
x=np.concatenate((z,x),axis=1)

In [11]:
x

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [12]:
x[1,:]

array([0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.5054791e+02,
       0.0000000e+00, 4.1000000e+01, 1.0000000e+00, 8.3807860e+04,
       1.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1254258e+05])

In [13]:
x.shape

(10000, 12)

In [14]:
x=x[:,1:]

In [15]:
x.shape

(10000, 11)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
x_train.shape

(8000, 11)

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [19]:
x_train.shape

(8000, 11)

In [20]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Goutham N\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [21]:
classifier = Sequential()

WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [22]:
classifier.add(Dense(units=11,init = "uniform",activation="relu"))

C:\Users\Goutham N\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=11, activation="relu", kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [23]:
classifier.add(Dense(units=6,init="uniform",activation="relu"))

C:\Users\Goutham N\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=6, activation="relu", kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [24]:
classifier.add(Dense(units=1,init="uniform",activation="sigmoid"))

C:\Users\Goutham N\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1, activation="sigmoid", kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [25]:
classifier.compile(optimizer = "adam",loss="binary_crossentropy",metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [26]:
classifier.fit(x_train,y_train,batch_size=16,epochs=100)

WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\Goutham N\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.5029 - acc: 0.7954
Epoch 2/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.4209 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.4123 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.4042 - acc: 0.8138
Epoch 5/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3966 - acc: 0.8287
Epoch 6/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3893 - acc: 0.8296
Epoch 7/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3842 - acc: 0.8321
Epoch 8/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3790 - acc: 0.8422
Epoch 9/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3746 - acc: 0.8438
Epoch 10/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3719 - acc: 0.8491
Epoch 11/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3683 - acc: 0.8488
Epoch 12/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3664 - acc: 0.8495
Epoch 13/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3617 - acc: 0.853 - 0s 42us/step - loss: 0.3636 - acc: 0.8525
Epoch 14/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3619 - acc: 0.8525
Epoch 15/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3607 - acc: 0.8521
Epoch 16/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3593 - acc: 0.8551
Epoch 17/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3570 - acc: 0.8544
Epoch 18/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3577 - acc: 0.8545
Epoch 19/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3559 - acc: 0.8560
Epoch 20/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3552 - acc: 0.8550
Epoch 21/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3548 - acc: 0.8561
Epoch 22/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3533 - acc: 0.8586
Epoch 23/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3526 - acc: 0.8582
Epoch 24/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3525 - acc: 0.8553
Epoch 25/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3517 - acc: 0.8580
Epoch 26/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3508 - acc: 0.8584
Epoch 27/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3503 - acc: 0.8599
Epoch 28/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3497 - acc: 0.8581
Epoch 29/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3490 - acc: 0.8588
Epoch 30/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3497 - acc: 0.8581
Epoch 31/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3487 - acc: 0.8598
Epoch 32/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3483 - acc: 0.8616
Epoch 33/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3477 - acc: 0.8586
Epoch 34/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3478 - acc: 0.8595
Epoch 35/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3471 - acc: 0.8591
Epoch 36/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3462 - acc: 0.8612
Epoch 37/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3470 - acc: 0.8595
Epoch 38/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3463 - acc: 0.8576
Epoch 39/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3464 - acc: 0.8623
Epoch 40/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3466 - acc: 0.8623
Epoch 41/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3455 - acc: 0.8614
Epoch 42/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3462 - acc: 0.8588
Epoch 43/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3452 - acc: 0.8600
Epoch 44/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3455 - acc: 0.8599
Epoch 45/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3450 - acc: 0.8603
Epoch 46/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3453 - acc: 0.8629
Epoch 47/100
8000/8000 [==============================] - 0s 40us/step - loss: 0.3453 - acc: 0.8610
Epoch 48/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3457 - acc: 0.8610
Epoch 49/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3448 - acc: 0.8623
Epoch 50/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3445 - acc: 0.8606
Epoch 51/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.3444 - acc: 0.8612
Epoch 52/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3446 - acc: 0.8608
Epoch 53/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3446 - acc: 0.8614
Epoch 54/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3441 - acc: 0.8609
Epoch 55/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3447 - acc: 0.8601
Epoch 56/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3444 - acc: 0.8609
Epoch 57/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3435 - acc: 0.8610
Epoch 58/100
8000/8000 [==============================] - 0s 41us/step - loss: 0.3437 - acc: 0.8595
Epoch 59/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3437 - acc: 0.8603
Epoch 60/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3435 - acc: 0.8616
Epoch 61/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3437 - acc: 0.8609
Epoch 62/100
8000/8000 [==============================] - 0s 53us/step - loss: 0.3437 - acc: 0.8621
Epoch 63/100
8000/8000 [==============================] - 1s 79us/step - loss: 0.3420 - acc: 0.8596
Epoch 64/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3427 - acc: 0.8605
Epoch 65/100
8000/8000 [==============================] - 0s 53us/step - loss: 0.3435 - acc: 0.8598
Epoch 66/100
8000/8000 [==============================] - 0s 47us/step - loss: 0.3424 - acc: 0.8605: 0s - loss: 0.3367 - acc: 0.86
Epoch 67/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3426 - acc: 0.8624
Epoch 68/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.3426 - acc: 0.8610
Epoch 69/100
8000/8000 [==============================] - 0s 45us/step - loss: 0.3426 - acc: 0.8608
Epoch 70/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.3431 - acc: 0.8601
Epoch 71/100

8000/8000 [==============================] - 0s 44us/step - loss: 0.3426 - acc: 0.8584
Epoch 72/100
8000/8000 [==============================] - 0s 53us/step - loss: 0.3418 - acc: 0.8620
Epoch 73/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3432 - acc: 0.8612
Epoch 74/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3424 - acc: 0.8615
Epoch 75/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3423 - acc: 0.8601
Epoch 76/100
8000/8000 [==============================] - 1s 82us/step - loss: 0.3415 - acc: 0.8639
Epoch 77/100
8000/8000 [==============================] - 1s 78us/step - loss: 0.3419 - acc: 0.8636
Epoch 78/100
8000/8000 [==============================] - 0s 62us/step - loss: 0.3424 - acc: 0.8598
Epoch 79/100
8000/8000 [==============================] - 0s 52us/step - loss: 0.3423 - acc: 0.8621
Epoch 80/100
8000/8000 [==============================] - 0s 52us/step - loss: 0.3421 - acc: 0.8591
Epoch 81/100
8000/8000 [==============================] - 0s 45us/step - loss: 0.3421 - acc: 0.8639
Epoch 82/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3416 - acc: 0.8625
Epoch 83/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3416 - acc: 0.8621
Epoch 84/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3413 - acc: 0.8601
Epoch 85/100
8000/8000 [==============================] - 0s 45us/step - loss: 0.3417 - acc: 0.8620
Epoch 86/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3415 - acc: 0.8628
Epoch 87/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3414 - acc: 0.8617
Epoch 88/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3423 - acc: 0.8603
Epoch 89/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3414 - acc: 0.8605
Epoch 90/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3422 - acc: 0.8596
Epoch 91/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3409 - acc: 0.8638
Epoch 92/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3414 - acc: 0.8628
Epoch 93/100
8000/8000 [==============================] - 0s 43us/step - loss: 0.3413 - acc: 0.8623
Epoch 94/100
8000/8000 [==============================] - 0s 42us/step - loss: 0.3411 - acc: 0.8623
Epoch 95/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3411 - acc: 0.8616
Epoch 96/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3411 - acc: 0.8624
Epoch 97/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.3414 - acc: 0.8617
Epoch 98/100
8000/8000 [==============================] - 0s 44us/step - loss: 0.3407 - acc: 0.8629
Epoch 99/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.3412 - acc: 0.8599
Epoch 100/100
8000/8000 [==============================] - 0s 46us/step - loss: 0.3413 - acc: 0.8615

In [27]:
y_pred=classifier.predict(x_test)

In [28]:
y_pred=(y_pred>0.5)

In [29]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [30]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [31]:
y_p =classifier.predict(sc.transform(np.array([[1,0,75,0,25,2,40000,4,1,1,50000]])))

In [32]:
y_p

array([[0.86486363]], dtype=float32)

In [33]:
y_p=y_p>0.5

In [34]:
y_p

array([[ True]])

In [35]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_pred,y_test)

In [36]:
accuracy

0.853

In [37]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [38]:
cm

array([[1513,   82],
       [ 212,  193]], dtype=int64)

In [39]:
classifier.save("churn_modelling.h5")